<!doctype html>
<!-- LOGIN PAGE -->
<html>
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

		<meta name="description" content="">
		<meta name="viewport" content="width=device-width, initial-scale=1">

		<title>TicketSoft</title>

		<!-- Home made CSS -->
		<link rel="stylesheet" type="text/css" href="Common/css/main.css">
		<link rel="stylesheet" type="text/css" href="Common/css/Overlay.css">
		<link rel="stylesheet" type="text/css" href="Home_Deps/Home.css">
	</head>
	<body class="homeBody">	
		<!-- Login page and system -->
		<img class="logo" alt="LOGO PROJET" src="Common/img/SmallLogo.png">
		<section class="loginSection">
			<form name="loginForm" class="loginForm" action="javascript:connect()">
				<input name="emailField" type="email" class="textField" placeholder="Email" autocomplete="off" required/>
				<input name="mdpField" type="password" class="textField" placeholder="Mot de passe" required/>
				<div class="errorMsg" hidden>Une erreur est survenue lors de la connexion.</div>
				<input type="submit" class="loginBtn" value="Connexion"/>
			</form>
		</section>
		
	</body>
</html>

<!-- Librairies -->
<script src="../Common/js/libs/jquery.js"></script>
<script type="text/javascript">
	
	function connect() {
		let regexMail = /^(\w|\d)+(\.(\w|\d)+)?@(\w|\d)+\.(\w|\d)+/;
		let loginBtn = document.getElementsByClassName("loginBtn")[0];
		let email = document.getElementsByName("emailField")[0];
		let mdp = document.getElementsByName("mdpField")[0];
		let errorMsg = document.getElementsByClassName("errorMsg")[0];

		loginBtn.disabled = true;
		if(email.value.match(regexMail) && mdp.value != "") {
			$.ajax({
				type: "POST",
				url: "http://localhost:9000/connectUser/",
				dataType: 'json',
				contentType: 'json', // Non present -> erreur serveur
				data: JSON.stringify({email: email.value, mdp: mdp.value}),
				success: function(response, status, jqXHR) {
					console.log("AJAX SUCCESS\nResponse: " + response +
						"\nStatus: " + status +
						"\njqXHR: " + jqXHR);
					window.sessionStorage.setItem("TicketSoftToken", response.token);
					window.location.href = window.location.hostname + "" + response.page;
				},
				error: function(jqXHR, status, errorThrown) {
					console.log("AJAX ERROR\njqXHR: " + jqXHR +
						"\nStatus: " + status +
						"\nError: " + errorThrown);
					errorMsg.hidden = false;
					loginBtn.disabled = false;
				}
			});
			console.log("ajax envoyé");
		}
		else {
			loginBtn.disabled = false;
			console.log("champs invalides");
			errorMsg.hidden = false;
		}
		loginBtn.disabled = false;
	}

</script>