<!doctype html>
<!-- LOGIN PAGE -->
<html>
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

		<meta name="description" content="">
		<meta name="viewport" content="width=device-width, initial-scale=1">

		<title>TicketSoft</title>

		<!-- Home made CSS -->
		<link rel="stylesheet" type="text/css" href="Common/css/main.css">
		<link rel="stylesheet" type="text/css" href="Common/css/Overlay.css">
	</head>
	<body>
	
		<!-- Top bar that represents the navigation menu between the views -->
		<header class="top-bar">
			
				<img class="MainLogo" alt="LOGO PROJET" src="Common/img/SmallLogo.png">
				
		</header>
		
		
		<!-- TODO : Login page and system -->
		
		
	</body>
</html>