
.MainLogo{
	position:absolute;
	width:95px;
	margin:5px;
	display:inline-block;
	left:calc(5% - 70px);
}

/* .user-btn{ */

	/* display:inline-block; */
	/* border-radius: 15px; */
	/* background-color: #f2fbff; */
	/* padding:5px; */
	/* margin: auto; */
	/* text-align:center; */
	
/* } */

#user{
	
	position:absolute;
	display: inline-block;
	margin:1%;
	text-align:center;
	right:calc(5% - 70px);
}

#ButtonDiv{

	width : 100%;
	height: 95%;

		
}

.view-btn{

	display:inline-block;
	border-radius: 15px;
	background-color: #f2fbff;
	padding:20px;
	
	position:relative;
	margin: auto;
	top:20%;
	text-align:center;
	
}

#ticketCreation-btn{

	display:inline-block;
	border-radius: 15px;
	background-color: #f2fbff;
	padding:20px;
	
	position:relative;
	margin: auto;
	top:20%;
	text-align:center;
	
	
}


/*Opening/Modify view*/

#escapeModif-btn{
	display:inline-block;
	border-radius: 15px;
	background-color: #f2fbff;
	margin:3px;
	padding:20px;

	text-align:center;
}

.modify-btn{

	display:inline-block;
	border-radius: 15px;
	background-color: #f2fbff;
	
	width:100%;
	height:100%;
	
	padding:5px;
	/* margin: 5px; */
	text-align:center;
	
}

.form-modif{
	 
	box-sizing: border-box;

}

.formElement{

	position:relative;
	display:inline-block;
	text-align:center;
	
	padding: 1%;
	margin: 5px;
	width: 80%;
}

.column {
	box-sizing: border-box;
	float: left;
	width: 50%;
	padding: 10px;
	height : 75%;
}

*{

	font-family: Arial, Helvetica, Verdana, sans-serif;
	
}

/* Clear floats after the columns */
.row:after {
	content: "";
	display: table;
	clear: both;
}

/**********/


.half-form{
	display:inline-block;
	left:calc(50% - 50px);
}

.third-form-btn{
	display:inline-block;
	left:calc(33% - 50px);
}

.third-form{
	display:inline-block;
	left:calc(33% - 50px);
	width:30%;
	box-sizing: border-box;
}




header{
	overflow: hidden;
}

.top-bar{
	height:110px;
	background-color: #f2fbff;
	padding-top: 5px;
	margin: auto;
	border-radius: 15px;
}


.filter-bar{
	background-color:#c1d1db;
	text-align:center;
	padding: 10px;
}


/*Table management*/


body{
	background-color:#ffead7;
	/* Double security for font */
    font-family: Arial, Helvetica, Verdana, sans-serif;

}

table {
	border-spacing: 0;
	background-color: #f2fbff;
	border: 1px solid #ccc;
	border-radius: 15px;
	text-align: center;
	margin: auto;
	
	/* Peut poser pb sur tel */
	table-layout: fixed;
    width : 100%;
}

.header-row{
	background-color: #c1d1db;
	cursor:	 pointer;
}

#modifyHeader{

	cursor: default;
	
}

th, td {
	text-align:center;
	padding: 10px;
}

.columnFilters{

	text-align:center;
	margin:auto;
	background-image: url('./../img/smallSearchicon.png');
	background-position: 5px 5px;
	background-repeat: no-repeat;
	font-size: 9px;
	padding: 6px 10px 6px 20px;
	border: 1px solid #ddd;
	margin-bottom: 6px;

}


/* Global ticket overview (opening rows) */

.row-child{
	display: none;
}

.parent ~ .cchild {
	display: none;
}

.parent:hover {
	background-color: #e6e6e6;
}

.open .parent ~ .cchild {
	display: table-row;
}

.parent {
	cursor: zoom-in;
}

.open {
	background-color: #e6e6e6;
	content: "\2212";

}

.open .cchild {
	background-color: #cccccc;
}

.open .parent {
	cursor: zoom-out;
}


