<!doctype html>
<html class="no-js" lang="">
	<head>


		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

		<meta name="description" content="">
		<meta name="viewport" content="width=device-width, initial-scale=1">

		<title>TicketSoft</title>

		<!-- Home made CSS -->
		<link rel="stylesheet" type="text/css" href="../Deps/Common/css/main.css">
		<link rel="stylesheet" type="text/css" href="../Deps/Common/css/Overlay.css">
	</head>
	<body>
	
		<!-- Top bar that represents the navigation menu between the views -->
		<header class="top-bar">
			
				<img class="MainLogo" alt="LOGO PROJET" src="../Deps/Common/img/SmallLogo.png">
				<div id="user">Michel Operandus<br/>(Responsable technicien)<br><a href="">Deconnexion</a></div>
				
				<div id="ButtonDiv">
					<button type="button" class="half-form" id="ticketCreation-btn">Créer un Ticket</button>
					<button type="button" class="view-btn half-form" id="ticketView-btn">Vue Tickets</button>
					<button type="button" class="view-btn half-form" id="mapView-btn">Vue Carte</button>
					<button type="button" class="view-btn half-form" id="statView-btn">Vue Statistiques</button>
				</div>

		</header>
		
		<div id="viewSection">
			
			<!-- ------------------------------------------- -->
			<!-- 	Overlay view for ticket modif view		 -->
			<!-- ------------------------------------------- -->
			<div id="myNav" class="overlay">
				<button class="closeOverlay-btn" id="closeOverlay-btn" >&times;</button>
				<div class="overlay-content">
					<h1>Création/Modification du ticket</h1>
					<div class="form-modif">
					
						<div class="row">
							<div class="column" style="background-color:#cccccc;">
							
								<h2>Informations sur le ticket</h2>
							
							
								<!-- NOTE : The following form is manually filled just to give an example ! -->
							
								<div class="half-form">
									<label for="ID-ticket">ID du ticket</label>
									<p id="ID-ticket">
									</p>
								</div>
								<div class="half-form">
									<label for="ParentTicket">Ticket Parent</label>
									<p id="ParentTicket">
									</p>
								</div>
								<br/>
							
								<!-- all the possible status -->
								<div class = "third-form">
									<label for="StatusSelectModifTick">Statut</label><br/>
									<select class="formElement" id="StatusSelectModifTick">
										<option value="Brouillon">Brouillon</option>
										<option value="Requiert affectation">Requiert Affectation</option>
										<option value="En attente">En Attente</option>
										<option value="Intervention planifiée">Intervention Planifiée</option>
										<option value="En cours">En Cours</option>
										<option value="Fermé">Fermé</option>
										<option value="Annulé">Annulé</option>
									</select>    
								</div>
								
								<!-- all the type of tickets : will be loaded from the database -->
								<div class = "third-form">
									<label for="TicketType">Type de ticket</label><br/>
									<select class="formElement" id="TicketType">
										<option value="Incident">Incident</option>
										<option value="Demande">Demande</option>
									</select>    
									
								</div>

								<!-- all the categories of tickets : will be loaded from the database -->
								<div class="third-form">
									<label for="CategorieSelect">Categorie</label><br/>
									<select class="formElement" id="CategorieSelect">
									</select>    
								</div>
								
								<br/><br/>
								
								<div class="half-form" style="width:75%;">
									<label for="ClientSelect">Client</label><br/> 
									<select class="formElement" id="ClientSelect">
										<option value="Client 1">Client 1 </option>
										<option value="Client 2">Client 2</option>
										<option value="Client 3">Client 3</option>
									</select>									
								</div>
								<div class="half-form">
									<label for="PriorityCheckBox">Client Prioritaire ?</label><br/>
									<input type="checkbox" name="PriorityCheckBox" id="PriorityCheckBox" value="true">
								</div>
								
								<br/>
								<div class="half-form" style="width:75%;">
									<label for="AskerSelect">Demandeur</label><br/>
									<select class="formElement" id="AskerSelect">
									</select> 
									<button id="addDemandeur-btn">Ajouter</button>
								</div>
							
								<br/><br/>
								
								<label for="ObjectText">Objet</label><br/>
								<textarea class="formElement" rows="1" id="ObjectText"></textarea>
								
								<br/>
								
								<label for="DescriptionText">Description de la demande</label><br/>
								<textarea class="formElement" rows="3" id="DescriptionText"></textarea>
								
								<br/><br/>
								
								<label for="CreationDate">Date de création du ticket</label><br/>
								<p id="CreationDate">							
								</p>
								
								<label for="DateInput">Date de la prise d'appel</label><br/>
								<input class="formElement" type="date" id="DateInput"></input>

							
							</div>
							<div class="column" style="background-color:#bfbfbf;">
							
								<h2>Informations sur l'intervention</h2>
								
								<label for="skills">Compétences requises</label>
								<select class="formElement" id="skills" multiple>
								</select>
								
								<br/><br/>
								
								<label for="InterventionPlace">Lieu de l'intervention</label><br/>
								<input class="formElement" type="text" id="InterventionPlace"></input>	
								
								</br>
								
								<div class= "half-form">
									<label for="InterventionDateInput" style="margin:5px;">Date de l'intervention</label><br/>
									<input class="formElement" type="date" id="InterventionDateInput"></input>
								</div>
								
								<div class= "half-form">
									<label for="InterventionTimeInput" style="margin:5px;">Heure de l'intervention</label><br/>
									<input class="formElement" type="time" id="InterventionTimeInput"></input>
								</div>
								
								<br/><br/>
								
								<label for="TechnicPeopleList">Technicien</label><br/>
								<select class="formElement" id="TechnicPeopleList">
								</select>
								
								<br/>
								
								<label for="PrevisibleTimeInput">Durée Prévisible de l'intervention</label><br/>
								<input class="formElement" type="time" id="PrevisibleTimeInput"></input>	
								
								<br/>
								
								<label for="EffectiveTimeInput">Durée Effective de l'intervention</label><br/>
								<input class="formElement" type="time" id="EffectiveTimeInput"></input>
								
								<br/>
								
								<label for="CommentsText">Commentaires sur l'intervention</label><br/>
								<div id="CommentsZone">
								</div>
								<textarea class="formElement" rows="3" id="CommentsText" placeholder="Ajoutez votre commentaire ici..."></textarea>
								
								<br/><br/>

							</div>
						</div>
						
						<div class="row" id="subTickets">
						
							<button class="accordion subTicket-btn">Gestion des sous-tickets</button>
							<div class="panel subTicketManagement">
								<br/><br/>
								<label for="ticketSplit">Ajouter des sous-tickets : </label>
								<input class="ticketSplit" type="number"></input> 
								<button class="ticketSplit" id="split-btn">Ajouter</button>
								<br/><br/>
								
								<table class="subTicketTable">
								
									<thead>
										<th>ID Sous-ticket</th>
										<th>Statut</th>
										<th>Catégorie</th>
										<th>Poid du sous-ticket</th>
										<th>Compétences requises</th>
										<th>Lieu de l'intervention</th>
										<th>Date de l'intervention</th>
									</thead>
									
								</table>
								
							</div>	
						<!-- SI ON VEUT AJOUTER UNE LIGNE SOUS LES COL -->
						</div>
						
						<br/>
						
						<button class="half-form closeOverlay-btn escapeModif-btn" id="cancel-btn">Annuler</button>
						<button class="half-form escapeModif-btn" id="validation-btn">Valider</button> <!-- TODO LA FONCTION ONCLICK -->
						
					</div>
					<br/><br/>
				</div>
			</div>


			<!-- Ticket view (with the table) -->
			<div class="views" id="ticketView">
				<div class="filter-bar">
					<span style="font-weight:bold;">Filtrer les tickets compris entre les dates : </span>
					<div class="half-form dateFilters">
						<label for="startDateFilter">Début</label><br/>
						<input class="" type="date" id="startDateFilter"></input>
					</div>
					<div class="half-form  dateFilters">
						<label for="endDateFilter">Fin</label><br/>
						<input class="" type="date" id="endDateFilter"></input>
					</div>
					
				</div>
				<table id="ticket-table" class="table">
					<thead class="header-row">
					
						<th unselectable  scope="col" id="modifyHeader">
							
							Détails et Modification du ticket
							
						</th>
					
						<th unselectable  scope="col">
							<select class="formElement columnFilters selectFilter" id="StatusSelectListHead" iscolumn=1>
								<option value="" selected="selected"></option>
								<option value="Brouillon">Brouillon</option>
								<option value="Requiert affectation">Requiert Affectation</option>
								<option value="En attente">En Attente</option>
								<option value="Intervention planifiée">Intervention Planifiée</option>
								<option value="En cours">En Cours</option>
								<option value="Fermé">Fermé</option>
								<option value="Annulé">Annulé</option>
							</select> 

							<div class="sortableHeader">Etat du Ticket</div>
						</th>
						
						<th unselectable  scope="col">
							<input type="text" id="idInput" class="columnFilters" placeholder="Rechercher un id" title="Rechercher un id">
							<div class="sortableHeader">ID Ticket</div>
						</th>
						
						<th unselectable  scope="col"><div class="sortableHeader">Date</div></th>
						
						<!-- <th unselectable  scope="col"><br/><br/>Objet</th> -->
						
						<!-- <th unselectable  scope="col"><br/><br/>Description</th> -->
						
						<th unselectable  scope="col">
							<select id="categoryFilter" class="columnFilters selectFilter" iscolumn=4>
								<option value=""></option>
								<option value="Etude">Etude</option>
								<option value="Matériel">Materiel</option>
							</select>
							<br/><div class="sortableHeader">Catégorie de la demande</div>
						</th>
						
						<th unselectable  scope="col">
							<select id="typeFilter" class="columnFilters selectFilter" iscolumn=5>
								<option value="" selected>Filtrer un type</option>
								<option value="Demande">Demande</option>
								<option value="Incident">Incident</option>
							</select>
							<br/>
							<div class="sortableHeader">Type du Ticket</div>
						</th>
						
						<th unselectable  scope="col">
							<input type="text" id="clientFilter" class="columnFilters" placeholder="Rechercher une entreprise cliente" title="Rechercher une entreprise cliente">
							<div class="sortableHeader">Entreprise Cliente</div>
						</th>
						
						<!-- <th unselectable  scope="col"> -->
							<!-- <input type="text" id="demandeurFilter" class="columnFilters" placeholder="Rechercher un demandeur" title="Rechercher un demandeur"> -->
							<!-- <br/><br/> -->
							<!-- Demandeur -->
						<!-- </th> -->
						
						<!-- <th unselectable  scope="col"> -->
							<!-- <input type="text" id="skillFilter" class="columnFilters" placeholder="Filtrer les compétences" title="Filtrer les compétences"> -->
							<!-- <br/><br/> -->
							<!-- Compétences Requises -->
						<!-- </th> -->
						
						<!-- <th unselectable  scope="col"> -->
							<!-- <input type="text" id="technicianFilter" class="columnFilters" placeholder="Filtrer par technicien" title="Filtrer par technicien"> -->
							<!-- <br/><br/> -->
							<!-- Technicien assigné -->
						<!-- </th> -->
						
						<th unselectable  scope="col">
							<input type="text" id="completionRateInput" class="columnFilters" placeholder="Filtrer un taux d'avancement" title="filtrer un taux d'avancement">
							<div class="sortableHeader">Taux d'avancement</div>
						</th>

					</thead>
					
				</table>
				
				</div>			
			</div>
			
			<!-- Map view -->
			<div class="views" id="mapView" style="display:none;">
			
				<br/><br/>
				<!-- for demo purpose => to be removed -->
				<img class="map" alt="Map" src="../Deps/Common/img/map.jpg" style="margin:auto; display:block; border:3px solid;">
			
			</div>
			
			<!-- Statistics view -->
			<div class="views" id="statView" style="display:none;">
			
				<br/><br/>
				<!-- for demo purpose => to be removed -->
				<img class="map" alt="Map" src="../Deps/Common/img/charts-examples.png" style="margin:auto; display:block; border:3px solid;">
			
			</div>
			
			
		</div>
		
		
		<!-- Librairies -->
		<script src="../Deps/Common/js/libs/jquery.js"></script>
	
		<!-- Our own scripts -->
		<script type="text/javascript" src="../Deps/Common/js/index.js"></script>
		<script type="text/javascript" src="../Deps/TechSupervisor/TechSupervisor.js"></script>
		
	</body>
</html>
